:root {
    --primaryFont: "Ubuntu", sans-serif;
    --secondFont: "Roboto", sans-serif;
    --logoFont: "Shadows Into Light Two", cursive;


    --white: #FFF;
    --black: #000;
    --darkGray: #101010;
    --midGray: #212226;
    --lightGray: #626265;
    --ivory: #e9e9eb;

    --blue: #1f9bf1;
    --darkBlue: #1668a3;

    --darkGreen: #019a53; 
    --green: #20c67a;

    --silver: #5f6368;
    --mediumSilver: #9a9c9f;
    --lightSilver: #e0e0e0aa;

    --greenAlert: #1dc019;
    --redAlert: #ee3d42;
    --redAlertDark: #c43338;




    --yellow: #ffff51;
    --darkYellow: #edef47;
    --darkYellowRgb: 237, 239, 71;

    --orange: #ff7360;
    --darkOrange: #c94738;
    --orangeRgb: 255, 115, 96;

}

/* Scrollbar Styles WebKit (Chrome, Safari, Edge) */
/* ::-webkit-scrollbar {
    width: 6px;
    margin: 2rem 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #888;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
} */

/* Scrollbar Styles Firefox */
* {
    scrollbar-color: var(--orange) var(--ivory);
    scrollbar-width: thin;
}


/* Basic */
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--primaryFont);
    padding: 0;
    font-size: 62.5%;
}

body {
    background-color: var(--ivory);
    margin: 0;
    color: var(--darkGray);
    font-size: 1.6rem;


}

main {
    padding: 0 .5rem 5rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media (min-width: 768px) {
        
        padding: 0 2rem 15rem 2rem;
    }
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
    text-align: center;
}

h3, h4 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

textarea {
    font-family: var(--primaryFont);
}

/* Helpers */
.c-red {
    color: var(--redAlert);
}

.c-grey {
    color: var(--mediumSilver);
}

.c-black {
    color: var(--midGray)
}

.c-yel {
    color: var(--yellow);
}

.c-green {
    color: var(--darkGreen);
}

.c-white {
    color: var(--white);
}

.center {
    text-align: center;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.bold {
    font-weight: 700;
}

.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.bg-gray {
    background-color: var(--mediumSilver)!important;
}
.body-pos {
    position: relative;
    padding-top: 86px;

    @media (min-width: 768px) {
        padding-top: 221px;
    }
}

.disabled {
    background-color: var(--lightSilver);
    color: var(--silver);
    cursor: not-allowed;
    border: none;
}

.d-none {
    display: none!important;
}

.scale {
    transition: transform .5s ease;
}

.scale:hover {
    transform: scale(1.5);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.flex-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Components */
.heading { 
    font-size: 4rem;
    text-align: center;
    color: var(--orange);
    margin: 3rem 0;
    text-transform: capitalize;
    font-size: clamp(2.5rem, 4vw + 1rem, 4rem);
    
    @media (min-width: 768px) {
        margin: 5rem 0;
        
    }
}

.heading-xs { 
    font-size: clamp(2.5rem, 3vw + 1rem, 3rem);

    text-align: center;
    color: var(--white);
    margin: 0 0 2rem 0;
}

.heading-left { 
    font-size: 3.5rem;
    text-align: start;
    padding: 2rem;
    color: var(--blue);
    margin-bottom: 2rem;
}

.msg-error {
    margin: 5rem 0;
    padding: .5rem;
    text-align: center;
    color: var(--white);
    background-color: var(--redAlert);
}

.msg-success {
    margin: 5rem 0;
    padding: .5rem;
    text-align: center;
    color: var(--white);
    background-color: var(--greenAlert);
}

.msg-empty {
    margin: 15rem 0 25rem 0;
    padding: 2rem 4rem;
    text-align: center;
    border-radius: 2rem;
    color: var(--white);
    background-color: var(--orange);
    font-size: 2rem;
}

.g-alert {
    width: 100%;
    margin: 2rem;
    text-align: center;
    color: var(--lightGray);
    box-shadow: 0 0 10px var(--lightGray);
    border-radius: 1rem;
    padding: 1rem;
}

.r-alert {
    width: 100%;
    margin: 2rem;
    text-align: center;
    color: var(--redAlert);
    box-shadow: 0 0 10px var(--redAlert);
    border-radius: 1rem;
    padding: 1rem;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
}

.btn {
    display: block;
    border: none;
    background-color: var(--orange);
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    font-size: 2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color .8s ease, color .8s ease, box-shadow .5s ease;
}

.btn-delete {
    background-color: var(--redAlert);
}

.btn-delete:hover {
    background-color: var(--black)!important;
    color: var(--redAlert)!important;
}

.btn-disabled {
    background-color: var(--lightSilver)!important;
    color: var(--lightSilver)!important;
    cursor: not-allowed!important;
}
.btn-disabled:hover {
    background-color: var(--lightSilver)!important;
    cursor: not-allowed!important;
}

.btn:hover {
    background-color: var(--darkOrange);
}

.btn-white {
    background-color: var(--ivory);
    color: var(--orange);
    box-shadow: 0 0 10px var(--ivory);
}

.btn-white:hover {
    color: var(--ivory);
    box-shadow: none;
}

.btn-gray {
    background-color: var(--mediumSilver);
    color: var(--ivory);
    box-shadow: 0 0 4px 1px var(--lightGray);
    margin: 1rem 0;
    font-size: 1.8rem;
}

.btn-gray:hover {
    color: var(--white);
    box-shadow: none;
    background-color: var(--mediumSilver);
}


/* Header */
.header {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
    font-size: 1.8rem;

    background-color: var(--orange);
    /* box-shadow: 2px 0 10px 2px var(--silver); */
    border-bottom: 2px solid var(--yellow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9; /*      << << << << <<      */

    @media (min-width: 768px) {
        display: block;
    }
}

.header__username {
    color: var(--white);
    font-weight: 700;
    transition: color .3s ease;
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    
    @media (min-width: 768px) {
        margin: 0;
    }
}

.header__nav {
    display: none; /* hidden on small screen */

    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    
    @media(min-width: 768px) {
        display: flex;
    }
}

.header__nav-mobile-icon {

    display: flex;

    /* align-items: center;
    gap: 2rem;
    padding: 2rem 0; */
    
    @media(min-width: 768px) {
        display: none; /* hidden on small screen */
    }
}

.header__nav-link {
    color: var(--white);
    transition: color .3s ease;
    padding: 1.9rem 0;
}

.header__nav-link:hover {
    color: var(--yellow);
}

.header__nav-link--active {
    color: var(--yellow);
}

.header__nav-link--logout {
    color: var(--lightGray);
    transition: color .3s ease;
}

.header__nav-link--logout:hover {
    color: var(--redAlertDark);
}

.header__icon-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    @media (min-width: 768px) {
        justify-content: center;
        
    }
}

.header__icon {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--white);
    width: fit-content;

    > p {
        font-family: var(--primaryFont);
        font-weight: 700;
        display: flex;
        align-items: center;
        font-size: clamp(2.5rem, 5vw + 1rem, 4.5rem);
        transition: transform .2s ease;
    }
}

.logo-font {
    font-family: var(--logoFont);
    color: var(--yellow);
    font-size: clamp(3rem, 5vw + 1rem, 5.5rem);
}

.header__popup-icon-container {
    display: flex;
    justify-content: center;
    position: relative;

    > p {
        position: absolute;
        top: .5rem;
        right: .5rem;
        background-color: var(--darkYellow);
        color: var(--orange);
        padding: 0 .6rem;
        border-radius: 50%;
    }
}

.header__popup-icon-container:hover {
    background-color: var(--darkOrange);
    border-radius: 1rem;
    cursor: pointer;

}

.header__popup-icon {
    width: 5rem;
    padding: 1rem;

}

.header__msg {
    background-color: var(--yellow);
    color: var(--darkGreen);
    text-align: center;
    padding: 1rem;

    > span {
        text-transform: capitalize;
    }
}

.header__popup-close {

}

/* Categories */


.categories-mobile-section {
    display: flex;
    border: none;
    background-color: var(--yellow);

    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: .5rem;

    @media (min-width: 768px) {
        display: none;
    }
}

.categories-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--yellow);

    border-radius: 0 0 1rem 1rem;

}

.categories-section__item-container {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 2rem;

    @media (min-width: 768px) {
        display: flex;
    }
}

.categories-section__item-container--active {
    background-color: var(--darkYellow);
}

.categories-section__img-container {

    padding: .6rem;
    border-radius: 50%;

}



.categories-section__item {
    width: 3rem;
    transition: transform .3s ease;
}

.categories-section__item--active {
    transform: scale(1.2);
    cursor: pointer;
}
.categories-section__item-container:hover {

    background-color: var(--darkYellow);
}

.categories-section__item-container:hover .categories-section__item-txt {
    text-shadow: 0 0 5px var(--orange);
}


.categories-section__item-container:hover .categories-section__item {
    transform: scale(1.2);
    cursor: pointer;
}



.categories-section__heading {
    color: var(--white);
    font-family: var(--logoFont);
    text-shadow: 0 0 15px var(--darkYellow);
    font-weight: 700;
    font-size: 9rem;
    margin: 0;
}

.categories-section__item-txt {
    text-shadow: 0 0 4px var(--black);
    color: var(--white);
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--logoFont);
    font-weight: 700;
    transition: all .3s ease;

}

.categories-section__item-txt--active {
    text-shadow: 0 0 5px var(--orange);
    color: var(--white);
}

/* Footer */

footer {

    padding: 2rem;
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.8rem;
    text-align: center;
    
    @media (min-width: 768px) {
        
        padding: 3rem 0 6rem 0;
    }

}

/* Icons section */

.common-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(var(--darkYellowRgb), 0.8);

    min-height: 25rem;

    border: 2px solid var(--orange);
    border-radius: 1rem;
    padding: 3rem 3rem;
    margin: 3rem 0;

}

.common-section__img-container {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 2rem;

}

.common-section__item {
    width: 15rem;
    transition: transform .3s ease;
}


.common-sectiom__item-container:hover .common-section__item-txt {
    text-shadow: 0 0 6px var(--orange);
}

.common-sectiom__item-container:hover .common-section__item-txt {
    text-shadow: 0 0 6px var(--orange);

}.common-sectiom__item-container:hover .common-section__item {
    transform: scale(1.2);
    cursor: pointer;
}


.common-section__heading {
    color: var(--orange);
    font-family: var(--logoFont);
    text-shadow: 0 0 15px var(--black);
    font-weight: 700;
    font-size: 7rem;
    margin: 0;
    transition: all 1s ease;
}

.common-section__heading:hover {
    color: var(--yellow);

    text-shadow: 0 0 15px var(--orange);

}

.common-section__item-txt {
    color: var(--orange);
    /* text-shadow: 0 0 15px var(--orange); */
    text-align: center;
    font-size: 3rem;
    font-family: var(--logoFont);
    margin-top: 1rem;
    font-weight: 700;
}

.common-section__w-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Common section backgrounds */
.common-section__img-1 {
    background-image: url('../img/baking.jpg');
}

.common-section__img-2 {
    background-image: url('../img/baking2.jpg');
}

.common-section__img-3 {
    background-image: url('../img/baking3.jpg');
}

/* Form - Post & Auth */
.form__container {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.form__container--auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 2rem;
}

.form__container-btn {
    display: flex;
    justify-content: flex-end;
}

.form__field {
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
    margin-top: 1rem;
    
    > label {
        font-size: 1.8rem;
        color: var(--darkGray);
    }
}

.form__field--hor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    
    > label {
        font-size: 1.8rem;
        color: var(--darkGray);
    }
}

.form__input {
    background-color: var(--white);
    border: none;
    color: var(--darkGray);
    padding: 1.5rem;
    border-radius: .5rem;
    resize: none;
    width: 100%;
    font-size: 1.6rem;
}

.form__input:focus {
    outline: none;
}

.form__opts {
    margin-top: 5rem;
    text-align: center;
    > a {
        color: var(--orange);
    }
    > a:hover {
        color: var(--darkOrange);
    }
}

.form__input--ingredients {
    text-align: center;
}

.form__destroy-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
    border-radius: 1rem;
    border: 1px solid var(--redAlert);

    > p {
        color: var(--redAlert)
    }
}

/* Pagination */
.pagination {
    margin: 2rem;
    padding: 3rem;
    display: flex;
    justify-content: flex-end;

}

.step-links {
    display: flex;
    gap: 1rem;
}

.current {
    color: var(--orange);
    display: flex;
    align-items: center;
}

.pagination__icon {
    width: 3rem;
}

/* Home */

.home__grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}

.banner-grid {

    grid-column: span 3;

}

/*Dashboard */

.dashboard__container {
    display: flex;
}

.dashboard__header {
    text-align: center;
    background-color: var(--darkOrange);
    color: var(--white);
    padding: 2rem 0;
}

.dashborad__content {
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.dashboard__actions {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;


}

.dashboard__actions-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    min-width: 15%;
    font-size: 1.8rem;
    background-color: var(--orange);
    color: var(--white);
    transition: background-color .5s ease;
}

.dashboard__actions-btn:hover {

    background-color: var(--darkOrange);

}

.sidebar {
    min-height: 100vh;
    min-width: 20rem;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.8rem;

}

.sidebar__item {

    border-top: 2px solid var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--white);
    padding: 2rem 0;
    background-color: inherit;
    width: 100%;
    transition: background-color .5s ease;

    > img {
        width: 3rem;

    }
}

.sidebar__item--active {
    background-color: var(--darkOrange);
}

.sidebar__item:hover {
    background-color: var(--darkOrange);
}

/* Dashboard Lists - Products and Ingredients */

.content__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 2rem;
    width: 100%;
    padding: 2rem;
    text-align: center;

    > p {

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        line-clamp: 1;
    }

}

.content__item-btns {
    display: flex;
    gap: 3rem;
    align-items: center;

    > a {
        background-color: inherit;
        padding: .5rem;
        border-radius: 1rem;
        transition: all .5s ease;
    }
    > a:hover {
        background-color: var(--darkOrange);

    }
}

.content__btn-cont {
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.content__btn {
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--white);
    font-weight: 700;
}

.content__btn-enabled {
    background-color: var(--darkGreen);
}

.content__btn-enabled:hover {
    background-color: var(--green);
}

.content__btn-disabled {
    background-color: var(--redAlertDark);
}

.content__btn-disabled:hover {
    background-color: var(--redAlert);
}

.content__edit {
    width: 3rem;
}


/* Product Cards */

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    color: var(--white);
    background-color: var(--orange);
    border: 4px solid var(--orange);


    max-height: 55rem;
    border-radius: 1rem;
    transition: border .5s ease;
    
    @media (min-width: 768px) {
        
        max-height: none;
        min-height: 75rem;
    }

    > h4 {
        font-size: clamp(2.5rem, 3vw + 1rem, 3rem);
    }

}

.product-card:hover {
    border: 4px solid var(--yellow);
}

.product-card:hover .product-card__img {

    transform: scale(1.15) rotate(3deg);
}

.product-card__img-container {
    
    border-radius: 1rem;
    width: 100%;
    max-height: 45rem;
    overflow: hidden;
}

.product-card__img {

    transition: transform .3s ease; 
    max-width: 100%;
    overflow-y: hidden;
    max-height: fit-content;
    object-fit: cover;
    
}

.product-card__text {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-clamp: 4;

}

.product-card__price {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: var(--logoFont);
    text-shadow: 0 0 15px var(--darkYellow);
}




/* Products Form */

.product-create__price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    border-radius: 1rem;
    padding: 2rem;
    margin: 5rem 0;
}

.product-create__price {
    font-size: 6.5rem;
    font-weight: 700;
    font-family: var(--logoFont);
    color: var(--white);
    text-shadow: 0 0 15px var(--darkYellow);
}

.product-create__price-text {
    color: var(--white);
}
.product-ingredient__form {
    background-color: rgba(var(--orangeRgb), 0.5);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 2rem;
    transition: min-height 2s ease;

    > h4 {
        color: var(--white);
        text-align: center;
        margin: 2rem 0;
    }
}

.product-ingredient__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;


}

.product-ingredient__measure-field {
    display: flex;
    align-items: center;
    gap: 2rem;

    > p {
        color: var(--white);
        font-size: 1.8rem;
    }
}

.product-ingredient__btn-container {
    width: 100%;
    display: flex;
    justify-content: center;


}

.product-ingredient__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > li {
        background-color: var(--white);

        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        color: var(--orange);
        transition: all .5s ease;

    }
    > li:hover {
        background-color: var(--orange);
        color: var(--white);
    }
}

/* Show Products */

.show-product__card {

    padding: 3rem;

    background-color: var(--orange);
    
    gap: 6rem;
    border-radius: 1.5rem;
    text-align: center;
    color: var(--white);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 768px) {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5rem;
        margin: 0 10rem;
    }
}

.show-product__img-container {
    
    border-radius: 1rem;

    width: 30rem;
    height: 23rem;
    overflow: hidden;

    @media (min-width: 768px) {
        width: 60rem;
        height: 45rem;
    }
}


.show-product__img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.show-product__card .product-card__price {
    margin: 2rem 0;
    font-size: clamp(5rem, 6vw + 1rem, 6rem);
    
    @media (min-width: 768px) {
        margin: 4rem 0 2rem 0;
        
    }
}

.show-product__grid {
    
}

.show-product__rel-container {
    background-color: var(--orange);
    border-radius: 1.5rem;
    margin: 4rem 0;
    padding: 4rem 0;

    > h3 {
        text-align: center;
        color: var(--white);
    }
}

.show-product__rel-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
    
    @media (min-width: 768px) {
        flex-direction: row;
        padding: 5rem;
    }

}

.show-product__rel-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    text-align: center;
    padding: 2rem;
    width: 100%;
    
    color: var(--orange);
    background-color: var(--ivory);
    border: 4px solid var(--orange);
    
    border-radius: 1rem;
    transition: border .5s ease;
    
    @media (min-width: 768px) {
        width: 25%;
        padding: 2rem 5rem 5rem 5rem;
    }

    > h4 {
        font-size: 1.8rem;
    }
}

.show-product__rel-card:hover {
    border: 4px solid var(--yellow);
}

.show-product__rel-card:hover .product-card__img {

    transform: scale(1.15) rotate(3deg);
}

.show-product__rel-card .product-card__img {
    width: 20rem;
}

/* Cart and Notifications*/


.popup {
    position: absolute;
    min-width: 45rem;
    top: 6rem;
    right: 1/2;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: var(--lightGray);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    
    background-color: var(--ivory);
    border: 3px solid var(--darkOrange);
    box-shadow: 0 0 6px 2px var(--darkOrange);
    cursor: default;

}

.popup__triangle {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--darkOrange) transparent transparent transparent;

}

.popup__heading {
    color: var(--orange);
    font-size: 2.5rem;
}

.popup__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 30rem;
    overflow-y: scroll;
}

.popup__item {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    border-radius: 1rem;

}

.popup__img-cont {
    overflow: hidden;
    display: flex;
    align-items: center;

    width: 15rem;
    height: 10rem;

    > img {
        width: 100%;
        max-height: fit-content;

    }
}

.popup__item--new {
    background-color: rgba(var(--orangeRgb), 0.3);
}

.popup__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;


    > p {
        text-align: start;
    }
}

.popup__price {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: var(--logoFont);
    text-shadow: 0 0 15px var(--darkYellow);
}

.popup__close {
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    font-weight: 700;
    border-radius: 50%;
    padding: .5rem 1rem;
    cursor: pointer;
    border: 1px solid var(--redAlert);
    color: var(--redAlert);
    background-color: var(--ivory);
    box-shadow: 0px 0px 0px var(--darkOrange) inset;
    transition: all .3s ease;
}

.popup__close:hover {
    box-shadow: 0px 0px 5px 1px var(--darkOrange) inset;
}

.popup__msg-empty {

    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
    color: var(--white);
    background-color: var(--orange);
    font-size: 1.4rem;

}

/* Checkout View */

.checkout__grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 8rem;
    padding: 2rem;

    background-color: var(--white);
    box-shadow: 0 0 10px var(--silver);
}

.checkout__legend {
    text-transform: capitalize;
    color: var(--orange);
    margin: 1rem 0;

    > span {
        font-weight: 700;
    }
}

.checkout__card {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    border-radius: 1.5rem;
    gap: 5rem;
    position: relative;

    max-height: 33rem;
    border: 2px solid var(--ivory);

}

.checkout__card-remove {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: inherit;
    font-weight: 700;
    border-radius: 50%;
    padding: .7rem 1rem;
    cursor: pointer;
    border: 1px solid var(--silver);
    color: var(--silver);
    transition: all .3s ease;
    box-shadow: 0px 0px inherit;
}

.checkout__card-remove:hover {
    border: 1px solid var(--redAlert);
    color: var(--redAlert);
    box-shadow: 0px 0px 10px var(--darkOrange);
}

.checkout__desc-cont {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 2rem;
}

.checkout__card-desc {
    color: var(--lightGray);
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.checkout__img-cont {

    overflow: hidden;
    display: flex;
    align-items: center;
    max-height: fit-content;


}

.checkout__img {
    max-width: 100%;
    max-height: fit-content;
    /* height: auto;
    object-fit: contain; */

    


}

.checkout__card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    gap: 1rem;
    background-color: var(--orange);
    border-radius: 1.5rem;
    color: var(--white);
    min-width: fit-content;
    text-align: center;


}

.checkout__card-field {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > input {
        padding: 1rem;
        width: 15rem;
    }


}

.checkout__quantity {
    text-align: center;
}

.checkout__card-price {
    margin: 0;
    font-size: 2.5rem;
}

.checkout__card-btn {
    font-size: 1.6rem;
    background-color: var(--ivory);
    color: var(--orange);
    padding: 1rem;

}

.checkout__date-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.checkout__price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    > p {
        font-weight: 700;
    }

}

.checkout__price {
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--orange);

}

.checkout__calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.checkout__btn-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.pending-card__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.pending-card__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > h4 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    > ul {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
        > li {

            > a {

                color: var(--white);
            }
            > a:hover {

                color: var(--darkYellow);
            }

        }
    }
}

.pending__cancel {
    background-color: var(--redAlertDark);
}

.pending__cancel:hover {
    background-color: var(--redAlert);
}

.pending__confirm {
    background-color: var(--darkGreen);
}

.pending__confirm:hover {
    background-color: var(--green);
}

.pending__archive {
    background-color: var(--darkGreen);
}

.pending__archive:hover {
    background-color: var(--green);
}

.deliveries__container {
    margin: 0 15rem;
}

.deliveries-card__status {
    font-size: 2.5rem;
}

.deliveries__recived {
    background-color: var(--darkGreen);
}

.deliveries__recived:hover {
    background-color: var(--green);
}

/* Settings View */

.settings__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 4rem;
}

.settings__section {
    padding: 4rem;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 1.5rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.settings__section--wider {
    grid-column: span 3;
}

/* Dashboard Index */

.docs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.8rem;
}
.docs__legend {
    text-align: center;
    font-weight: 700;
    color: var(--orange);
}

.docs__section {

    > h4 {
        font-size: 2.5rem;
        color: var(--orange);
    }

    > p {
        padding: 1rem;
    }
}