{% extends "layouts/layout.html" %}
{% load static %}

{% block title %}
    Checkout
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/checkout.js' %}" type="module"></script>
{% endblock %}


{% block body %}

    <div>
        <h3 class="heading">Checkout - {{ seller_user.username}} Products</h3>
        <input type="hidden" value="{{ seller_user.max_prod_capacity }}" id="seller-prod-max">

        <input type="hidden" id="hidden-checkout-prev-dates" value="{{ disabled_days }}" />

            {% if message %}
                <div class="msg-error">{{ message }}</div>
            {% endif %}

            {% for error in errors %}
                <div class="msg-error">{{ error }}</div>
            {% endfor %}

        <div class="checkout__grid">
        
            {% for product in products %}
                <div class="checkout__card">
                    <div class="checkout__desc-cont">
                        <div class="checkout__img-cont">
                            <img src="{{ product.image }}" alt="{{ product.name }}" class="checkout__img">
                        </div>
                        <div class="checkout__card-desc">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }}</p>
                            <p>Production time: {{ product.production_time}} days</p>
                        </div>
                    </div>

                    <div class="checkout__card-info">
                        <div class="checkout__card-field">
                            <label for="#">Quantity</label>
                            <input type="number" value="{{ product.quantity }}" data-id="{{ product.id }}" class="form__input checkout__quantity" min="1">
                        </div>
                        <p>$ {{ product.total_price }}</p>
                    </div>
                </div>
            {% endfor %}

            <div>
                <p class="checkout__price">Total Price: $ 4455</p>
                <p>Production Time: 16 days</p>
            </div>

            {% comment %} <div class="checkout__btn-cont">
                <button class="btn">Submit Your Order</button>
            
            </div> {% endcomment %}


        <form action="" method="POST" class="form">
            {% csrf_token %}
                <div class="form__field--hor">
                    <input type="hidden" id="hidden-datepicker" style="display: none" name="date"/>
                </div>

                {% comment %} <input type="hidden" name="products"
                    value='[
                        {% for product in products %}
                            {
                                "product_id": {{ forloop.counter0 }},
                                "quantity": {{ product.quantity }}
                            }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]'> {% endcomment %}

            <div class="btn-container">



                <input type="submit" class="btn" value="Submit" id="checkout-submit-btn">
            </div>
        </form>
        </div>


    </div>

{% endblock %}