{% extends "layouts/layout.html" %}
{% load static %}

{% block title %}
    Checkout
{% endblock %}

{% block body %}

    <div>
        <h3 class="heading">Checkout - {{ seller_user.username}} Products</h3>
        <input type="hidden" value="{{ seller_user.max_prod_capacity }}" data-id="{{ seller_user.id }}" id="seller-prod-max">
        <input type="hidden" id="hidden-checkout-prev-dates" value="{{ disabled_days }}" />
        <input type="hidden" id="hidden-checkout-min-date" value="{{ min_day }}" />

        {% if message %}
            <div class="msg-error">{{ message }}</div>
        {% endif %}

        {% for error in errors %}
            <div class="msg-error">{{ error }}</div>
        {% endfor %}

        <div class="dashboard__actions">
            <a href="{% url 'index' %}" class="dashboard__actions-btn">
                <img src="{% static 'img/back.svg' %}" alt="Back Icon" width="30">
                <p>Back</p>
            </a>
        </div>

        <div class="checkout__grid">
        <p class="checkout__legend">{{ seller_user.username}}'s maximum daily production: <span>{{ seller_user.max_prod_capacity }}</span> products</p>
        
            {% for product in products %}
                <div class="checkout__card">
                    <button class="checkout__card-remove" data-id="{{ product.id }}">X</button>
                    <div class="checkout__desc-cont">
                        <div class="checkout__img-cont">
                            <img src="{{ product.image }}" alt="{{ product.name }}" class="checkout__img">
                        </div>
                        <div class="checkout__card-desc">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }}</p>
                            <p>Production time: {{ product.production_time}} days</p>
                        </div>
                    </div>

                    <div class="checkout__card-info">
                        <div class="checkout__card-field">
                            <label for="#">Quantity</label>
                            <input type="number" value="{{ product.quantity }}" data-id="{{ product.id }}" class="form__input checkout__quantity">
                        </div>
                        <p class="checkout__card-price" data-id="{{ product.id }}" data-unit-price="{{ product.total_price }}">{{ product.total_price }}</p>
                    </div>
                </div>
            {% endfor %}

            <div class="checkout__date-container">
            
                <div class="checkout__price-container">
                    <p class="checkout__price">Total Price: <span id="checkout-total-price" >$0</span></p>
                    <p class="center">Production Time: {{ min_day_number }} days</p>
                </div>

                <div class="checkout__calendar-container">
                    <p class="g-alert">The production time is calculated starting from tomorrow, so today is not included</p>
                    <input type="hidden" id="hidden-datepicker" style="display: none" name="date"/>

                    <p class="g-alert" id="alert-msg-date">You must select a delivery date</p>
                </div>
            </div>
            <div class="checkout__btn-cont">
                <button type="submit" class="btn" id="checkout-submit-btn">Submit</button>
            </div>
        </div>
    </div>

{% endblock %}