{% extends "layouts/layout.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <h3 class="heading">
    {% if cart_seller %} 
        {{ cart_seller.username }} Products

    {% elif category %}
        {{ category.name }}
    {% else %}
        All Products
    {% endif %}</h3>

    {% if message %}
        <div class="msg-error">{{ message }}</div>
    {% endif %}

    <div class="home__grid">
        {% for item in products %}


            <a href="{% url 'show_product' item.id %}" class="product-card">
                <h4>{{ item.name }}</h4>
                <div class="product-card__img-container">
                    <img src="{{ item.image }}" alt="{{item.name}} Image" width="500" class="product-card__img">
                </div>
                <div class="flex-col">
                    <p class="product-card__text">{{ item.description }}</p>
                    <p class="product-card__price format-price">{{ item.total_price }}</p>
                    <p>Production time: {{ item.production_time }} days</p>
                </div>
            </a>
            {% if forloop.counter|divisibleby:3 %}
                <div class="common-section banner-grid">

                    {% for category in categories %}
                        <a href="{% url 'home_filtered' category.id %}" class="common-sectiom__item-container">
                            <div class="common-section__img-container">
                                <img src="{% static 'img/categories/' %}{{ category.image }}.svg" alt="Category {{ category.name }} Icon" class="common-section__item">
                            </div>
                                <p class="common-section__item-txt">{{ category.name }}</p>
                        </a>
                    {% endfor %}

                </div>
            {% endif %}
            
        {% endfor %}
    </div>

    {% if not products %}
        <p class="msg-empty">There are no products to show. <a href=" {% url 'index' %}" class="c-yel">Back to all products.</a></p>
    {% endif %}
    {% comment %} <div class="common-section">
        <h2 class="common-section__heading">Surprise Selection!</h2>
        <div class="common-section__item-container">
            <a href="{% url 'random_product' %}" >
                <img src="{% static 'img/box.svg' %}" alt="Cart Icon" class="common-section__item scale">
            </a>
        </div>
    </div> {% endcomment %}

{% endblock %}