{% extends "layouts/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <h3 class="heading">HomePage</h3>

    {% if message %}
        <div class="msg-error">{{ message }}</div>
    {% endif %}

    <div class="home__grid">
        {% for item in products %}


            <a href="#" class="product-card">
                <h4>{{ item.name }}</h4>
                <div class="product-card__img-container">
                    <img src="{{ item.image }}" alt="{{item.name}} Image" width="500" class="product-card__img">

                </div>
                <p class="product-card__text">{{ item.description }}</p>
                <p class="product-card__price">${{ item.total_price }}</p>
                
            </a>
        {% endfor %}
    </div>


    
{% endblock %}