{% extends "layouts/layout.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <h3 class="heading">
    {% if cart_seller %} 
        {{ cart_seller.username }} Products
    {% else %}
        All Products
    {% endif %}</h3>

    {% if message %}
        <div class="msg-error">{{ message }}</div>
    {% endif %}

    <div class="home__grid">
        {% for item in products %}

            <a href="{% url 'show_product' item.id %}" class="product-card">
                <h4>{{ item.name }}</h4>
                <div class="product-card__img-container">
                    <img src="{{ item.image }}" alt="{{item.name}} Image" width="500" class="product-card__img">
                </div>
                <div class="flex-col">
                    <p class="product-card__text">{{ item.description }}</p>
                    <p class="product-card__price format-price">{{ item.total_price }}</p>
                    <p>Production time: {{ item.production_time }} days</p>
                </div>
                
            </a>
        {% endfor %}
    </div>
    <div class="common-section">
        <div >
            <div class="common-section__item-container">
                <img src="{% static 'img/cake1.svg' %}" alt="Cart Icon" class="common-section__item">
            </div>
                <p class="common-section__item-txt">Cakes</p>
        </div>
        <div >
            <div class="common-section__item-container">
                <img src="{% static 'img/croissant.svg' %}" alt="Cart Icon" class="common-section__item">
            </div>
            <p class="common-section__item-txt">Bakery</p>
        </div>
        <div >
            <div class="common-section__item-container">
                <img src="{% static 'img/cake2.svg' %}" alt="Cart Icon" class="common-section__item">
            </div>
            <p class="common-section__item-txt">Speciality Cakes</p>
        </div>
        <div >
            <div class="common-section__item-container">
                <img src="{% static 'img/cupcake.svg' %}" alt="Cart Icon" class="common-section__item">
            </div>
            <p class="common-section__item-txt">Cupcakes</p>
        </div>
    </div>

    <div class="common-section">
        <h2 class="common-section__heading">Surprise Selection!</h2>
        <div class="common-section__item-container">
            <a href="{% url 'random_product' %}" >
                <img src="{% static 'img/box.svg' %}" alt="Cart Icon" class="common-section__item scale">
            </a>
        </div>
    </div>

{% endblock %}