{% extends "layouts/dashboard.html" %}
{% load static %}

{% block title %}
    New Ingredient
{% endblock %}

{% block body %}

    <div>
        <h3 class="heading">New Ingredient</h3>

        {% if message %}
            <div class="msg-error">{{ message }}</div>
        {% endif %}

        {% for error in errors %}
            <div class="msg-error">{{ error }}</div>
        {% endfor %}

        <div class="dashboard__actions">
            <a href="{% url 'dashboard_ingredients' %}" class="dashboard__actions-btn">
                <img src="{% static 'img/back.svg' %}" alt="Back Icon" width="30">
                <p>Back</p>
            </a>
        </div>

        <div class="form__container">
        
            <form action="{% url 'new_ingredient' %}" method="POST" class="form">
            {% csrf_token %}
                <div class="form__field">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Ingredient Name" class="form__input" name="name" id="name" value="{{ body.name }}" minlength="3" maxlength="120" required>
                </div>
                <div class="form__field">
                    <label for="description">Description</label>
                    <textarea type="text" placeholder="Ingredient Description" class="form__input" rows="6" name="description" id="description" maxlength="550">{{ body.description }}</textarea>
                </div>

                <div class="form__inputs-container">
                    <div class="form__field">
                        <label for="size">Size</label>
                        <input type="number" placeholder="200" class="form__input" name="size" id="size" value="{{ body.size }}" min="1" max="999999" step="0.1" required>
                    </div>
                    <div class="form__field">
                        <label for="measurement_unit">Unit Measurement</label>
                        <input type="text" placeholder="gr, oz, lt" class="form__input" name="measurement_unit" id="measurement_unit" value="{{ body.measurement_unit }}" minlength="1" maxlength="15" required>
                    </div>
                    <div class="form__field">
                        <label for="price">Price</label>
                        <input type="number" placeholder="120" class="form__input" name="price" id="price" value="{{ body.price }}" min="0.10" max="999999" step="0.01" required>
                    </div>
                </div>

                <input type="submit" value="Submit" class="btn">
            </form>
        </div>
    </div>
    
{% endblock %}