{% extends "layouts/dashboard.html" %}

{% block title %}
    Edit Product
{% endblock %}

{% block body %}

    <div>
        <h3 class="heading">Edit Product</h3>

        {% if not ingredients %}
            <div class="msg-empty">You need to create some ingredients first</div>
        {% else %}

            {% if message %}
                <div class="msg-error">{{ message }}</div>
            {% endif %}

            {% for error in errors %}
                <div class="msg-error">{{ error }}</div>
            {% endfor %}

            <div class="form__container" >
                <form action="{% url 'edit_product' product.id %}" method="POST" class="form" novalidate>
                {% csrf_token %}
                    <div class="form__field">
                        <label for="name">Name</label>
                        <input type="text" placeholder="Product Name" class="form__input" name="name" value="{{ product.name }}" id="name" minlength="3" maxlength="120" required>
                    </div>
                    <div class="form__field">
                        <label for="prod_time">Production Time (days)</label>
                        <input type="number" placeholder="5" class="form__input" name="prod_time" value="{{ product.production_time }}" id="prod_time" min="1" max="99" required>
                    </div>
                    <div class="form__field">
                        <label for="image">Image</label>
                        <input type="url" placeholder="https://example.com/image.jpg" class="form__input" name="image" value="{{ product.image }}" id="image" minlength="3" maxlength="240">
                    </div>
                    <div class="form__field">
                        <label for="categories">Categories - Hold Ctrl (Cmd on Mac) and click to select one or more options</label>
                        <select multiple class="form__input" name="categories" id="categories" required>
                            {% for category in categories %}
                                <option value="{{ category.id}}"
                                {% if category.id in categories_list %} selected {% endif %}>
                                {{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form__field">
                        <label for="description">Description</label>
                        <textarea type="text" placeholder="Product Description" class="form__input" rows="6" name="description" id="description" maxlength="550">{{ product.description }}</textarea>
                    </div>
                    <div class="form__field">
                        <label for="price">Custom Price Adjustment (profit, labor, etc.)</label>
                        <input type="number" placeholder="1400" class="form__input" name="price" value="{{ product.subtotal_price }}" id="price" min="1" max="999999" required>
                    </div>

                    <div id="inputs-hidden-container">
                        {% for input in ingredient_list %}

                                <input type="hidden" 
                                    value='{"id":"{{ input.id }}","quantity":"{{ input.quantity }}"}' 
                                    data-previous-items='{{ input.name }}'
                                    data-size="{{ input.size }}" 
                                    data-measurement-unit="{{ input.measurement_unit }}" 
                                    data-price="{{ input.price }}"
                                    name="ingredient_data"
                                >
                        {% endfor %}
                    </div>

                    <div class="product-ingredient__form">
                        <h4>Ingredients</h4>
                        <div class="product-ingredient__inputs">
                            <select name="#" id="create-product-ingredient" class="form__input form__input--ingredients">
                                <option value="" disabled selected>-- Select --</option>
                                {% for ingredient in ingredients %}
                                    <option value="{{ ingredient.id }}" data-size="{{ ingredient.size }}" data-measurement-unit="{{ ingredient.measurement_unit }}" data-price="{{ ingredient.price }}">{{ ingredient.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="product-ingredient__measure-field">
                                <input type="number" class="form__input form__input--ingredients" placeholder="1400" id="create-product-quantity" min="1" max="999999" required>
                                <p id="create-product-unit-measurement">empty</p>
                            </div>
                        </div>
                        <div class="product-ingredient__btn-container">
                            <input type="button" class="btn btn-disabled" value="Add" id="create-product-add">
                        </div>
                        <ul class="product-ingredient__items" id="create-product-items-list"></ul>
                    </div>
                    <div class="product-create__price-container">
                        <p class="product-create__price" id="create-product-total"></p>
                        <p class="product-create__price-text">Final Price</p>
                    </div>
                    
                    <input type="submit" value="Update Product" class="btn d-none" id="create-product-submit">
                </form>
            </div>

        </div>
    {% endif %}

{% endblock %}