{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      BakeryStore -{% block title %}{% endblock %}
    </title>
    <link rel="icon" href="{% static 'img/cupcake.svg' %}" type="image/x-icon">
    <link rel="preload" href="{% static 'styles/app.css' %}" as="style">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
    <link href="{% static 'styles/app.css' %}" rel="stylesheet" />
    <script src="{% static 'js/app.js' %}" type="module"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% block head %}
    
    {% endblock %}

    {% block script %}
    {% endblock %}
  </head>
  <body>

    <header class="dashboard__header">

        <div class="dashboard__header-container">
            <h1>BakeryStore</h1>
            <img src="{% static 'img/nav.svg' %}" alt="Mobile Icon" width="30" class="header__nav-mobile-icon" id="nav-mobile-btn">    


            {% if user.is_authenticated %}
                <p class="header__username">Hello {{ user.username }}</p>
            {% endif %}

        </div>

        <div class="menu-mobile" id="menu-mobile">



            <div class="menu-mobile__container">
                <p class="menu-mobile__item menu-mobile__username">Hello {{ user.username }}</p>

                <a href="{% url 'index' %}" class="menu-mobile__item">Homepage</a>
                <a href="{% url 'dashboard_products' %}" class="menu-mobile__item">My Products</a>
                <a href="{% url 'dashboard_ingredients' %}" class="menu-mobile__item">My Ingredients</a>
                <a href="{% url 'pending_orders' %}" class="menu-mobile__item">Pendings</a>
                <a href="{% url 'dashboard_settings' %}" class="menu-mobile__item">Settings</a>







                {% comment %} <buttom class="menu-mobile__item relative">
                    <a href="{% url 'checkout' %}" >Checkout</a>
                    <p id="mobile-cart-counter" class="icon-counter"></p>
                </buttom>

                <a href="{% url 'dashboard' %}" class="menu-mobile__item" >Seller Panel</a>
                <buttom class="menu-mobile__item relative" id="nav-mobile-btn-notif" >
                    <p>Notifications</p>
                    <p id="mobile-notif-counter" class="icon-counter"></p>
                </buttom>
                <div class="popup d-none" id="notif-mobile-menu">
                    <h3 class="popup__heading">Your notifications</h3>
                    <ul class="popup__list" id="notif-mobile-list"></ul>
                </div> {% endcomment %}

            </div>

            <a href="{% url 'logout' %}" class="btn btn-white">Log Out</a>

        </div>
    </header>

    <div class="dashboard__container">
        <aside class="sidebar">
            <a href="{% url 'index' %}" class="sidebar__item {% if request.resolver_match.url_name == 'index' %}sidebar__item--active{% endif %}">
                <img src="{% static 'img/store.svg' %}" alt="Store Icon">
                <p>Homepage</p>
            </a>
            <a href="{% url 'dashboard_products' %}" class="sidebar__item {% if request.resolver_match.url_name == 'dashboard_products' or request.resolver_match.url_name == 'new_product' or request.resolver_match.url_name == 'edit_product' %}sidebar__item--active{% endif %}">
                <img src="{% static 'img/boxes.svg' %}" alt="Boxes Icon">
                <p>My Products</p>
            </a>
            <a href="{% url 'dashboard_ingredients' %}" class="sidebar__item {% if request.resolver_match.url_name == 'dashboard_ingredients' or request.resolver_match.url_name == 'new_ingredient' or request.resolver_match.url_name == 'edit_ingredient' %}sidebar__item--active{% endif %}">
                <img src="{% static 'img/mix.svg' %}" alt="Mix Icon">
                <p>My Ingredients</p>
            </a>
            <a href="{% url 'pending_orders' %}" class="sidebar__item {% if request.resolver_match.url_name == 'pending_orders' or request.resolver_match.url_name == 'archived_orders' %}sidebar__item--active{% endif %}">
                <img src="{% static 'img/checklist.svg' %}" alt="Checklist Icon">
                <p>Pendings</p>
            </a>
            <a href="{% url 'dashboard_settings' %}" class="sidebar__item {% if request.resolver_match.url_name == 'dashboard_settings' %}sidebar__item--active{% endif %}">
                <img src="{% static 'img/gear.svg' %}" alt="Gear Icon">
                <p>Settings</p>
            </a>
            <a href="{% url 'logout' %}" class="sidebar__item">
                <img src="{% static 'img/off.svg' %}" alt="Off Icon">
                <p>Log Out</p>
            </a>
        </aside>
        <main class="dashborad__content">
            {% block body %}

            {% endblock %}
        </main>
    </div>
  </body>
</html>


